.App {
  text-align: center;
}

input {
  margin: 10px;
}

ul {
  padding-top: 20px;
  width: 55%;
  margin: auto;
}

ul > li {
  display: list-item;
  list-style-type: disc;
  width: 60%;
  margin: auto;
}

.liste {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.notCompleted {
  margin-left: 10px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  color: red;
}

.completed {
  margin-left: 10px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  color: green;
}

.lign {
  display: flex;
}

button {
  margin-left: 10px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
}

.done {
  text-decoration-line: line-through;
}

.done,
.undone,
button {
  cursor: pointer;
}
